
header h1{
    display: inline; 
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
}

#content{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 90vw;
    height: 60%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.img-1{
    filter: grayscale(100%) 
}
.rev-section{
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
}

.title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(50,50,50);
    margin-bottom: .5rem;
    text-align: center;
}

.reviews{
    margin: 2rem auto;
    display: grid;
    padding-bottom: 10em;
    
}

.thankmsg{
    display: none;
}

.review{
    margin-bottom: 3vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    background-color:rgb(238, 238, 238);
    padding: 1rem;
    box-shadow: 1px 1px 8px 2px   #99C1D5;
    border-width: 0.6px;
    border-radius: 10px;
    
}

.review li{
    display: grid;
    list-style: none;
    margin: 0 1rem;
    background-color:rgb(238, 238, 238);
    padding-top: 2rem;
    padding: 2rem;
    box-shadow: 1px 1px 8px 2px   #99C1D5;
}

.review li :nth-child(1){
    font-style: bold;
}
.review li :nth-child(2){
    font-size: 10px;
    font-style: italic;
}

.review li :nth-child(3){
    float: right;
    color: rgb(150, 150, 150);
}

.review li :nth-child(4){
    grid-column: 2;
}

.user-photo{
    grid-column: 1;
}
.user-photo img{
    border-radius: 50%;
    box-shadow: 0 10px 25px(0,0,0,.25);
}

.name-review{
    margin-left: 1rem;
    grid-column: 1;
    grid-row: 1;
    font-size: 1.5rem;
    color: rgb(50,50,50);
}

.desc-review{
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    grid-row: 2;
    grid-column: 1;
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150,150,150);
}

.review-date{
    font-size: 10px;
    font-style: italic;
}

.review-button{
    display: flex;
    justify-content: center;
}
#review-btn {
    width: 165px;
    background:  #0080ff;
    color: #cce0ff;
    border: none;
}

#store-logo {
    height: 50px;
    width: auto;
    margin-top: 0.5rem;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#store-name{
    text-align: center;
}

#submit {
    background: #66b3ff;
    border: none;
}

.modal-header{
    background-color: #99C1D5;
    border: none;
}
.col-form-label{
    color: #93BDCF;
}
.modal-footer{
    background-color:#99C1D5 ;
}
.btn-secondary{
    background-color: #AAB9C0;
    border: none;
}
#exampleModalLabel{
    color: white;
}
#content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 678px) {
    .review{
        margin-top: 1.5rem;
    }
}
