/* ONLY landing.html implements this stylesheet. */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
*{
    font-family: 'Jost', sans-serif;
}
.wrapper {
    margin-top: 10vh;

}
#menu{
    background-color: #A0B9C4;
}

.spaceButton {
    margin-top: 3%;
}

.button {
    width: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}