html {
    font-size: 16pt;
    background-color: white;
}

header p {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 2em;
}

#doc-list {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20vw;
    height: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

#doc-list li {
    background-color: rgb(213, 232, 240);
    list-style: none;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-radius: 25px;
    font-size: 1.6rem;
    height: 20vw;
}

#doc-list span{
    display: list-item;
}

#back {
    width: 25px;
    float: left;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}