/* ONLY settings.html implements this stylesheet. */
html {
    font-size: 16pt;
    background-color: white;
}

header p {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 2em;
}

#settingWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60vw;
    height: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

#settingWrap li {
    background-color: rgb(213, 232, 240);
    list-style: none;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-radius: 25px;
    transform: translate(-10%);
    font-size: 1.6rem;
}

#settingWrap a{
    color: black;
}

#back {
    width: 25px;
    float: left;
}